@model IEnumerable<Pet_Shop2.Models.Product>
@using Pet_Shop2.Models;
@using X.PagedList.Mvc.Common;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var lstCate = ViewBag.Category as List<Category>;
}
@section Linkheader{
    <link rel="stylesheet" href="~/Admin_assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="~/Admin_assets/plugins/select2/css/select2.min.css">
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Bộ lọc dữ liệu</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Loại sản phẩm</label>
                    <select id="IDcategory" class="select2bs4" data-placeholder="Select a State" style="width: 100%;">
                        @if (lstCate != null)
                        {
                            <option value="0" selected>Tất cả</option>
                            @foreach (var item in lstCate)
                            {
                                <option value=@item.Id>@item.Name</option>
                            }
                        }
                    </select>
                </div>

            </div>
            <!-- /.col -->
            <div class="col-3">
                <div class="form-group">
                    <label>Hoạt động</label>
                    <select id="active" class="form-control select2bs4" style="width: 100%;">
                        <option value="true" selected="selected">Hoạt động</option>
                        <option value="false">Không hoạt động</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Sắp xếp</label>
                    <select id="order" class="form-control select2bs4" style="width: 100%;">
                        <option value="true" selected="selected">Tăng dần</option>
                        <option value="false">Giảm dần</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <input id="keyword" type="search" class="form-control form-control-lg" placeholder="Từ khóa tìm kiếm" value="">
                <div class="input-group-append">
                    <button id="btnsearch" type="submit" class="btn btn-lg btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
<div class="card">
    <div class="card-header">
        <a href="~/Admin/products/create" class="btn btn-success">Thêm mới</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        @if (Model != null)
        {
            <div id="records_table">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkall" /></th>
                            <th class="text-center">#</th>
                            <th class="text-center">Ảnh</th>
                            <th class="">Tên SP</th>
                            <th class="">Loại SP</th>
                            <th class="text-center">Còn lại</th>
                            <th class="text-center">Giá</th>
                            <th class="text-center">Giảm giá</th>
                            <th class="text-center">Hoạt động</th>
                            <th class="text-center">Thao tác</th>
                        </tr>

                    </thead>
                    <tbody>
                        @{

                            int index = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="align-middle"><input type="checkbox" class="checkthis" /></td>
                                    <td class="align-middle text-center">@index</td>
                                    <td class="align-middle text-center" style="width:100px"><img style="width:100%;" src="~/FolderImages/products/@item.Thumb" /></td>
                                    <td class="align-middle">@item.ProductName</td>
                                    <td class="align-middle">@(item.Category != null ? item.Category.Name : "Không")</td>
                                    <td class="align-middle text-center">@item.Quantity</td>
                                    <td class="align-middle text-center">@item.Price</td>
                                    <td class="align-middle text-center">@item.Discount</td>
                                    <td class="text-center align-middle">@Html.CheckBox("Active",@item.Active==true?true:false, new{})</td>
                                    <td class="align-middle text-center">
                                        <a class="btn btn-warning" href="~/Admin/products/edit/@item.Id">Sửa</a> |
                                        <button class="btn btn-danger" onclick="Delete(@item.Id)">Xóa</button>
                                    </td>
                                </tr>

                                index++;
                            }
                        }
                    </tbody>

                </table>
            </div>


        }
        else
        {
            <h3>Không có dữ liệu</h3>
        }

    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <div style="float:right;">
            @Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new{page=page}),
            new X.PagedList.Mvc.Common.PagedListRenderOptions{
            DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
            DisplayLinkToLastPage = PagedListDisplayMode.Never,
            LinkToFirstPageFormat = "1",
            LinkToPreviousPageFormat = "←",
            LinkToNextPageFormat = "→",
            MaximumPageNumbersToDisplay = 5,
            DisplayItemSliceAndTotal = false,
            LiElementClasses = new[] { "page-item" },
            UlElementClasses = new string[] { "pagination" },
            PageClasses = new string[] { "page-link" }
            })
        </div>

    </div>
</div>

@section Scripts{

    <script src="~/Admin_assets/plugins/select2/js/select2.full.min.js"></script>
    <script>
        function Delete(id) {
            if (confirm("Bạn có chắc xóa dòng này không ?")) {
                $.ajax({
                    url: '/Admin/products/Deleteproduct',
                    type: "POST",
                    data:  id ,
                    success: function (result) {
                        if (result.success) {


                            Toastify({

                                text: "Xóa sản phẩm thành công",
                                close: true,
                                duration: 2000,
                                style: {
                                    background: "#28a745",
                                },
                                offset: {
                                    x: 0, // horizontal axis - can be a number or a string indicating unity. eg: '2em'
                                    y: 70 // vertical axis - can be a number or a string indicating unity. eg: '2em'
                                }

                            }).showToast();

                        }
                        else {
                            location.reload();
                        }
                    }

                }
                );
            }
        }



        $(document).ready(function () {
            $('.select2').select2();
            var IDCate=-1;
            var orderby=false;
            var active="";
            $("#IDcategory").on("change",function(){
                IDCate = $(this).val();
            });
            $("#order").on("change",function(){
                orderby = $(this).val();
            })
            $("#active").on("change", function () {
                active = $(this).val();
            })

            //Thực hiện việc tìm kiếm dữ liệu khi search
            $("#keyword").keyup(function () {
                var strkeyword = $("#keyword").val();
                $.ajax({
                    type: 'POST',
                    url: '/Admin/Search/FindProduct/',
                    data: { keyword: strkeyword, active: active, IDcategory: IDCate, orderby: orderby },
                    success: function (results) {
                        $("#records_table").html("");
                        //console.log(results);
                        $("#records_table").html(results);
                    },
                    error: function (xhr, status, error) {
                        console.log("Error:", error);
                        // Xử lý lỗi ở đây nếu cần thiết
                    }
                });
            });
            //Thực hiện việc tìm kiếm dữ liệu khi bấm button
            $("#btnsearch").on("click",function(){
                var strkeyword = $("#keyword").val();
                $.ajax({
                    type: 'POST',
                    url: '/Admin/Search/FindProduct/',
                    data: { keyword: strkeyword, active: active, IDcategory: IDCate, orderby: orderby },
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr, status, error) {
                        console.log("Error:", error);
                        // Xử lý lỗi ở đây nếu cần thiết
                    }
                });
            })


            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
            

        })

    </script>
}